<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8">

        <title>Bob's Burger of the Day Is...</title>

        <link rel="stylesheet" href="./assets/css/style.css" type="text/css" />

        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="./assets/js/burgers.js"></script>
    </head>
    <body>
        {{{ body }}}
        </body>
</html>